# Build artifacts
*.o
*.obj
*.exe
*.out
*.bin
*.a
*.so
*.dylib
*/libs/

# Compiled binary output
*/build/
*.dSYM/
*.dll

# Media files
*.png
*.jpg
*.jpeg
*.mp4
*.wav

# Environment and cache
osmesa-env
*.log
*.flag

# VSCode settings
.vscode/
*.code-workspace

# macOS system files
.DS_Store

# CMake and Make
CMakeFiles/
CMakeCache.txt
Makefile

# Others
*.swp
*.swo
